:root{
    --mainColor: #eaeaea;
    --secColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;

}

html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--secText);
    font-family: 'Montserrat', sans-serif;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--mainColor);
}

.logo{
    color: var(--mainColor);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links a{
    color: var(--mainText);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--mainText);
    margin: 5px;
    transition: all 0.3s ease;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

#lw_pic {
    display: block;
    margin: 0 auto;
    height: 243px;
    width: 600px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

.about-lw{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

/* Between PC and mobile, maybe tablets? */
@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

/* For mobile users */
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--mainColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

    #lw_pic {
        display: block;
        margin: 0 auto;
        height: 152px;
        width: 375px;
        object-fit: cover;
        border: 2px solid var(--borderColor);
    }
}

.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}